ipykernel
langchain>=0.3.27
langchain-community
langchain-openai
langchain-ollama
langchain_experimental
tavily-python
langchain-cli
langchain_chroma
langchainhub
langgraph>=0.2.58
langsmith
fastapi
langserve
openai
pypdf
faiss-cpu
arxiv
xmltodict
duckduckgo-search
playwright
graphviz
ipydrawio
ipydrawio_widgets
nbformat
python-dotenv
pandas
matplotlib
wikipedia
google-search-results