ipykernel
langchain>=0.3
langchain-openai
langchain-ollama
langchain_experimental
langchain-cli
langchain_chroma
langchainhub
langgraph
langsmith
fastapi
langserve
openai
pypdf
faiss-cpu
arxiv
xmltodict
duckduckgo-search
playwright
graphviz
ipydrawio
ipydrawio_widgets
nbformat
python-dotenv
pandas
matplotlib
wikipedia
google-search-results