ipykernel
langchain
langchain-openai
langchain_experimental
langchain-cli
langchainhub
openai
pypdf
chromadb
faiss-cpu
arxiv
xmltodict
duckduckgo-search
playwright
graphviz
ipydrawio
ipydrawio_widgets
nbformat
python-dotenv
pandas